<!doctype html>
<html lang="en" dir="ltr" xml:lang="en" class="no-js"
      prefix="og: http://ogp.me/ns#
fb: http://ogp.me/ns/fb#
foaf: http://xmlns.com/foaf/0.1/
dc: http://purl.org/dc/terms/
v: http://rdf.data-vocabulary.org/#
owl: http://www.w3.org/2002/07/owl#">

{{> head_boilerplate}}

<body>

{{> header}}

<article class="text_container">
    {{#each collections.posts}}
        <section class="content_container">
            <h2><a href="{{ baseUrl }}{{ this.permalink }}">{{{ this.repo_title }}}</a></h2>
            {{{ this.snippet }}}
            <p><a href="{{ baseUrl }}{{ this.permalink }}">Continue Reading &raquo;</a></p>
            <hr/>
        </section>
    {{/each}}
</article>

{{> footer}}

</body>
</html>
