<!doctype html>
{{> html_declaration}}

{{> head_boilerplate}}

<body>

{{> header}}

<article class="text_container">
    {{#each collections.posts}}
        <section class="content_container">
            <h2><a href="{{ baseUrl }}{{ this.permalink }}">{{{ this.repo_title }}}</a></h2>
            {{{ this.snippet }}}
            <p><a href="{{ baseUrl }}{{ this.permalink }}">Continue Reading &raquo;</a></p>
            <hr/>
        </section>
    {{/each}}
</article>

{{> footer}}

</body>
</html>
